# 1. Pengenalan

Haikal Ramadhan Usman

FullTime Data Scientist - Batch 001

# 2. Judul

**Live Code 1**

# 3. Import Library

Berisi import semua library yang akan digunakan yaitu pandas dan numpy.

In [41]:
import pandas as pd # import library pandas yang selanjudnya akan dicall dengan inisial pd

# 4. Data Loading

Berisi Data Loading. Melakukan read_excel dan menampilkan 10 data teratas. Sebelum read_excel, file terlebih dahulu di upload ke google colab

In [42]:
df =  pd.read_excel(r'/content/NMC1-9.xlsx') # read excel

In [43]:
df.head(10) #menampilkan 10 data teratas

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817
5        5  4.091        0.997      1  2.840817
6        6  4.090        0.996      1  2.840817
7        7  4.089        0.996      1  2.840817
8        8  4.089        0.995      1  2.840817
9        9  4.088        0.995      1  2.840817

In [44]:
df # menampilkan semua data

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [48]:
df.info() # menampilkan info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

# 5. Answer

In [49]:
def hambatan(V, I):
  "Function untuk formula Hambatan"
  R = V / I # R Kapasitas(ohm), V Tegangan(volt), I Kuat arus (Ampere)
  return R

In [50]:
def daya(V, I):
  "Function untuk formula Daya"
  P = V * I # P Daya(watt), V Tegangan(volt), I Kuat arus (Ampere)
  return P

# 6. Jawaban

In [ ]:
for ind in df.index: # looping semua data yang ada di Dataset NMC1-9.xlsx
  v = df['V_m'][ind] # assign value di table 'V_m' ke variable v
  i = df['Current (A)'][ind] # assign value di table 'Current (A)' ke variable i
  cycle = df['Cycle'][ind] # assign value di table 'Cycle' ke variable cycle
  if cycle % 2 == 0: # Jika cycle adalah genap:
    p = daya(v, i,) # memangil function daya lalu assign ke variable p
    print('Tegangan: ', v, ', Kuat Arus: ', i,', siklus: ', cycle, ', Daya: ',p)
  else: # Jika ganjil:
    r = hambatan(v, i) # memangil function hambatan lalu assign ke variable r
    print('Tegangan: ', v, ', Kuat Arus: ', i,', siklus: ', cycle, ' Hambatan: ',r)